parameters:
#    trsteel_html_form_validation.enabled: true

services:
    trsteel_html_form_validation:
        class: Trsteel\HtmlFormValidationBundle\Listener\DisableHtmlFormValidation
        arguments: [%trsteel_html_form_validation.enabled%]
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse, priority: -127 }